.disable{
    pointer-events: none !important;
    transition: 1s !important;
    opacity: 0.4 !important;
}

/* ========================================================================================================================================= */
/* ================================================================== h1 =================================================================== */

h1{
    font-family: "Usuzi Italic";
    color: rgb(255, 102, 0);
    cursor: pointer;
    animation: h1 .7s;
}

@keyframes h1 {
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    50%{
        transform: translateX(40%)
                    rotate(350deg);
        opacity: 1;
    }
    100%{
        transform: translateX(0)
                    rotate(360deg);
        opacity: 1;
    }
}

/* ========================================================================================================================================= */
/* =============================================================== menu-list =============================================================== */

.menu-list{
    opacity: 0;
    transition: 1s;
}

.menu-list .food{
    transition: .5s;
    cursor: pointer;
    visibility: hidden;
}

.menu-list .food:nth-child(1){
    transform: translate(-200px, 200px);
}
.menu-list .food:nth-child(2){
    transform: translate(-100px, 200px);
}
.menu-list .food:nth-child(3){
    transform: translate(100px, 200px);
}
.menu-list .food:nth-child(4){
    transform: translate(200px, 200px);
}

/* ========================================================================================================================================= */
/* ============================================================ menu-list-plus ============================================================= */

.menu-list-plus .plus{
    background-color: rgb(177, 177, 177);
    opacity: 0;
    padding: 10% 20%;
    display: flex;
    justify-content: center;
    transition: .4s;
    cursor: pointer;
    visibility: hidden;
}

@media (hover: none) {
    .menu-list-plus .plus{
        display: none;
    }
}

/* ========================================================================================================================================= */
/* =========================================================== menu-list-arrows ============================================================ */

.menu-list-arrows .arrow{
    transform: translate(0, 100px);
    opacity: 0;
    transition: .3s;
}

/* ========================================================================================================================================= */
/* ============================================================= item-settings ============================================================= */

/* ================================================ */
/* ==================== col-12 ==================== */

.item-settings .col-12{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100px;
    padding: 5px;
    margin-bottom: 5px;
    display: none;
    overflow: hidden;
    animation: item-plus .5s;
}

.item-settings .col-12::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    display: block;
}

@keyframes item-plus {
    0%{
        height: 0px;
        opacity: 0;
        margin-bottom: 0px;
        padding: 0;
    }
    100%{
        height: 100px;
        opacity: 1;
        margin-bottom: 5px;
        padding: 5px;
    }
}

@keyframes item-minus {
    0%{
        height: 100px;
        opacity: 1;
        margin-bottom: 5px;
        padding: 5px;
    }
    100%{
        height: 0px;
        opacity: 0;
        margin-bottom: 0px;
        padding: 0;
    }
}


/* ==================== size ==================== */

.item-settings .col-12 .size{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-family: "CommonComic";
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
}

.item-settings .col-12 .size.size-small{
    height: 28px
}

.item-settings .col-12 .size.size-medium{
    height: 58px
}

.item-settings .col-12 .size.size-large{
    height: 90px
}

.item-settings .col-12 .size.active{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: 2px solid white;
}

.item-settings .col-12 .col-12 .size:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}


/* ==================== spinner ==================== */

.item-settings .col-12 .spinner{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: .6;
}

.item-settings .col-12 .spinner:hover{
    opacity: 1;
}

@media (hover: none) {
    .item-settings .col-12 .spinner{
        opacity: .8;
    }
}


/* ==================== input ==================== */

.item-settings .col-12 input{
    width: 60px;
    height: 40px;
    font-size: 30px;
    display: flex;
    padding: 5px;
    background-color: transparent;
    border: none;
    text-align: center;
}

.item-settings .col-12 input::placeholder{
    opacity: 1;
}


/* ==================== p ==================== */

.item-settings .col-12 p{
    font-family: "CommonComic";
    font-size: 25px;
    padding-bottom: 10px;
}


/* ==================== item1234 ==================== */

.item-settings .item1{
    background-image: url(../img/burger.png);
}
.item-settings .item2{
    background-image: url(../img/hotdog.png);
}
.item-settings .item3{
    background-image: url(../img/sandwich.png);
}
.item-settings .item4{
    background-image: url(../img/pizza.png);
}

.item-settings .item1::after{
    background-color: rgba(255, 110, 0, 0.6);
}
.item-settings .item2::after{
    background-color: rgba(21, 255, 0, 0.6);
}
.item-settings .item3::after{
    background-color: rgba(251, 255, 0, 0.6);
}
.item-settings .item4::after{
    background-color: rgba(0, 255, 255, 0.6);
}

/* =================================================== */
/* ==================== col-sm-10 ==================== */

.item-settings .col-sm-10{
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}


/* ==================== h3 ==================== */

.item-settings .col-sm-10 h3{
    font-family: Calibri, sans-serif;
    color: rgb(143, 143, 143);
    transition: .5s;
}


/* ==================== print-bill ==================== */

.item-settings .col-sm-10 .print-bill{
    width: 120px;
    font-family: 'Lalezar', cursive;
    color: black;
    opacity: .6;
    font-size: 20px;
    border: 2px solid black;
    position: relative;
}

.item-settings .col-sm-10 .print-bill p{
    height: 28px;
    cursor: pointer;
    transition: .5s;
}

.item-settings .col-sm-10 .print-bill p:hover{
    background-color: black;
    color: white;
}

.item-settings .col-sm-10 .print-bill .before,
.item-settings .col-sm-10 .print-bill .after{
    width: 104px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: -2px;
}

.item-settings .col-sm-10 .print-bill .before{
    right: 0;
}

.item-settings .col-sm-10 .print-bill .after{
    left: 0;
}

@keyframes before {
    0% {top: -2px; right: 0}
    20%{top: -2px; right: 100%}
    50%{top: 100%; right: 100%}
    60%{top: 100%; right: 100%}
    80%{top: 100%; right: 0;}
}

@keyframes after {
    0% {top: -2px; left: 0}
    20%{top: -2px; left: 100%}
    50%{top: 100%; left: 100%}
    60%{top: 100%; left: 100%}
    80%{top: 100%; left: 0;}
}


/* ==================== your bill ==================== */

.item-settings .col-sm-10 .your-bill{
    padding: 14.8px;
    margin-top: -2px;
    width: min-content;
    border: 2px solid rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: transform 2s steps(10);
    overflow: hidden;
}

.item-settings .col-sm-10 .your-bill pre{
    font-family: Consolas, 'Courier New', monospace;
}


/* ==================== ========= ==================== */

.menu-list, .menu-list-plus, .menu-list-arrows, .item-settings{
    padding: 0 25%;
}

/* ========================================================================================================================================= */
/* ================================================================= media ================================================================= */
   
@media (max-width: 991px) {
    .menu-list, .menu-list-plus, .menu-list-arrows, .item-settings{
        padding: 0 10%;
    }
}

@media (max-width: 767px) {
    .menu-list, .menu-list-plus, .menu-list-arrows, .item-settings{
        padding: 0 3%;
    }
}

@media (max-width: 575px) {
    /* ==========  h1 ========== */

    h1{
        font-size: x-large;
    }


    /* ==========  col-12 ========== */

    .item-settings .col-12{
        height: 70px;
        padding: 5px;
        margin-bottom: 5px;
    }
    .item-settings .col-12 .size{
        font-size: small;
    }
    .item-settings .col-12 .size.size-small{
        height: 20px;
    }
    .item-settings .col-12 .size.size-medium{
        height: 36px;
    }
    .item-settings .col-12 .size.size-large{
        height: 60px;
    }
    .item-settings .col-12 .size.active{
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        border: 2px solid white;
    }
    .item-settings .col-12 .col-12 .size:hover{
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
    }
    .item-settings .col-12 .spinner{
        width: 20px;
        height: 20px;
    }
    .item-settings .col-12 input{
        width: 40px;
        height: 20px;
        font-size: 15px;
    }
    .item-settings .col-12 p{
        font-size: 15px;
        padding-bottom: 5px;
    }

    @keyframes item-plus {
        0%{
            height: 0px;
            opacity: 0;
            margin-bottom: 0px;
            padding: 0;
        }
        100%{
            height: 70px;
            opacity: 1;
            margin-bottom: 5px;
            padding: 5px;
        }
    }
    
    @keyframes item-minus {
        0%{
            height: 70px;
            opacity: 1;
            margin-bottom: 5px;
            padding: 5px;
        }
        100%{
            height: 0px;
            opacity: 0;
            margin-bottom: 0px;
            padding: 0;
        }
    }


    /* ==========  col-sm-10 ========== */

    .item-settings .col-sm-10 h3{
        font-size: large;
    }
    .item-settings .col-sm-10 .print-bill .before,
    .item-settings .col-sm-10 .print-bill .after{
        height: 2px;
        background-color: #000;
        position: absolute;
        top: -2px;
    }
    .item-settings .col-sm-10 .print-bill .before{
        width: 74px;
    }
    .item-settings .col-sm-10 .print-bill .after{
        width: 75px;
    }
    .item-settings .col-sm-10 .your-bill pre{
        font-size: small;
    }
}

